# Python
__pycache__/
*.pyc
.env
*.db
*.sqlite3

# Streamlit
.streamlit/secrets.toml

# Docker
*.log

# OS
.DS_Store
# IDE
.vscode/
.idea/
# Gemini
.gemini
.aider*

# Playwright
frontend/test-results/
playwright-report/

# Temp / lock files
documents/~$*
